*{
  /* box-sizing: border-box; */
}

:root {
  --blueviolet: blueviolet;
  --violet: violet;
  --white: white; 
  --gray: gray;
}

body {
  margin: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

h3{
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: var(--blueviolet); 
  border: none;
  color: var(--white);
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

button:hover{
  background-color: var(--violet); 
  border-radius: 5px;
}

input {
  height: 34px;
  border-radius: 5px;
  border: .5px solid var(--gray);
  font-size: 18px;
}

#view-scores{
  cursor: pointer;
  color: var(--blueviolet);
}

#view-time{
  width: 115px;
}

#button-start, #choices-container button{
  width: 200px;
  margin: 0 auto .5em;
  display:block;
}

#main-container{
  text-align: center;
}

#scores-form-container{
  display: none;
  justify-content: space-around;

}

#scores-container{
  display: none;
}

#scores-container ul li{
  list-style-type: none;
}

#answer-container{
  margin-top: 3em; 
  display: block;
  color: var(--gray);
  font-size: 18px;
}