*{
  /* box-sizing: border-box; */
}

body {
  margin: 1em;
  /* display: flex; */
  /* min-height: 100vh;
  flex-direction: column; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
}

#view-time{
  width: 115px;
}

/* :root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
} */

#button-start, #choices-container button{
  background-color: blueviolet; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 200px;
  border-radius: 5px;
  margin: 0 auto .5em;
  display:block;
}

button:hover{
  background-color: violet; 
}

#main-container{
  text-align: center;
}

#choices-container{
  
}


#scores-form-container{
  display: none;
  justify-content: space-around;

}

#scores-container{
  display: none;
}

li{
  list-style-type: none;
}


#answer-container{
  margin-top: 3em; 
  display: block;
  color: gray;
  font-size: 18px;
}